<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Critic</title>
    <!-- add css file -->
    <link rel="stylesheet" href="main.css">
    <script src="https://use.fontawesome.com/7fb1b7bdac.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Padauk" rel="stylesheet">

  </head>
  <body ng-app="MovieCriticApp">
    <h1>Critic</h1>
    <section ng-controller="clickMoviesController">
      <ul class="movieul">
        <li class="each" ng-repeat="movie in movies">
          <img ng-src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{movie.poster_path}}">
          <h1>{{ movie.title }}</h1>
          <h5>Movie Release Date: {{ movie.release_date }}</h5>
          <h4>Movie Overview: {{ movie.overview }}</h4>

          <div class="rating">

            <p ng-click="starClicked(1, movie)" ng-class="{ highlighted: movie.rating >= 1}" ><i class="fa fa-star" aria-hidden="true"></i></p>

            <p ng-click="starClicked(2, movie)" ng-class="{ highlighted: movie.rating >= 2 }" id="star2"  ><i class="fa fa-star" aria-hidden="true"></i></p>

            <p ng-click="starClicked(3, movie)"  ng-class="{ highlighted: movie.rating >= 3 }" id="star3" ><i class="fa fa-star" aria-hidden="true"></i></p>

            <p ng-click="starClicked(4, movie)"  ng-class="{ highlighted: movie.rating >= 4 }" id="star4" ><i class="fa fa-star" aria-hidden="true"></i></p>

            <p ng-click="starClicked(5, movie)" ng-class="{ highlighted: movie.rating >= 5 }" id="star5" ><i class="fa fa-star" aria-hidden="true"></i></p>

    </div>

        </li>
      </ul>

    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <!-- add js file -->
    <script src="app.js" type="text/javascript">
    </script>
  </body>
</html>
